
<footer class="main-footer">
    <div class="footerBorder"></div>
    <div class="footer bodyLeftMargin ">
        <div class="left">
            <span>Resources</span>
            <p><a href="http://www.ucmerced.edu/site-list" class="link">Site List</a></p>
            <p><a href="http://directory.ucmerced.edu" target="_blank" class="link">Directory</a></p>
            <p><a href="http://www.ucmerced.edu/directions-map" class="link">Directions &amp; Map</a></p>
            <p><a href="http://www.ucmerced.edu/about-uc-merced" class="link">About UC Merced</a></p>
            <p><a href="mailto:pbrown3@ucmerced.edu?subject=Chronic Health Feedback" class="link">Site
                    Contact</a></p>
        </div>
        <div class="right">
            <!-- <img src="/images/ftrLogo.gif" alt="UC Merced"/>
    <br />
    The first new American research university of the 21<sup>st</sup> century, with a mission of research, teaching, and service -->
            <p><strong>University of California, Merced </strong><br>5200 North Lake Rd,<br> Merced, CA
                95344<br> Telephone:(209) 228-4400</p>

            <p><strong>Health version <span>1.1</span> |
                    © <span>2024</span> UC Regents |
                    <a href="http://www.ucmerced.edu/privacy-statement" target="_blank">Privacy/Legal
                        Notice</a></strong></p>
        </div>
        <!-- <div class="ftr">
    <p class="pLeft"><strong>University of California</strong>, Merced 5200 Lake Rd, Merced, CA 95344 T:(209) 228-4400</p>
    
</div> -->
    </div>
</footer>