<table class="centered-text" id="utilityTable">
    <thead>
        <tr>
            <th colspan="3"></th>
            <th colspan="3" class="color-grey radius">Without Program</th>
            <th colspan="2" class="color-uc radius">With Program</th>
            <th colspan="1" class="color-blue radius">Difference</th>
            <th colspan="8" class="blue-text text-start radius">Description</th>
        </tr>
        <tr>
        </tr>
    </thead>
    <tbody class="table-border">
        <tr *ngFor="let data of roiData">
            <td colspan="5" class="color-yellow blue-text fw-bold">{{data.Heading}}</td>
            <td class="blue-text">{{data.Without_Program??data.With_Program}}</td>
            <td class="blue-text">{{data.With_Program}}</td>
            <td class="blue-text" colspan="2">{{data.Difference}}</td>
            <td class="blue-text">{{data.Description}}</td>
        </tr>
    </tbody>
</table>
<div class="table-buttons">
    <button type="submit" (click)="downloadCSV('ROI Cost Result')" class="csv-button point mt-1"><mat-icon svgIcon="csv-icon"></mat-icon>Download CSV</button>
</div>