<app-roi-results [costData2]="costData"></app-roi-results>

<table class="centered-text roi-result-diff-table mt-5">
    <thead>
        <tr class="roi-result-diff-tr"> 
            <th colspan="3"></th>
            <th colspan="3" class="color-grey radius roi-result-diff-th">Without Program</th>
            <th colspan="2" class="color-uc radius roi-result-diff-th">With Program</th>
            <th colspan="1" class="color-blue radius roi-result-diff-th">Difference</th>
            <th colspan="8" class="blue-text text-start radius roi-result-diff-th">Description</th>
        </tr>
        <tr>
        </tr>
    </thead>
    <tbody class="table-border">
        <tr *ngFor="let data of roiData" class="roi-result-diff-tr">
            <td colspan="5" class="color-yellow blue-text fw-bold roi-result-diff-td">{{data.Heading}}</td>
            <td class="blue-text roi-result-diff-th">{{data.without_program}}</td>
            <td class="blue-text roi-result-diff-th">{{data.With_Program}}</td>
            <td class="blue-text roi-result-diff-th" colspan="2">{{data.Difference}}</td>
            <td class="blue-text roi-result-diff-th">{{data.Description}}</td>
        </tr>
    </tbody>
</table>
<div class="table-buttons">
    <button type="submit" (click)="downloadCSV('ROI Cost Result')" class="csv-button point mt-1"><mat-icon svgIcon="csv-icon"></mat-icon>Download CSV</button>
</div>