<article class="bodyLeftMargin" data-close-all-search-dialogs="">
    <div class="infoBox">
        <i class="fa fa-futboll-0"></i>
        <p class="infoTxt">You have arrived at a website that allows you to estimate the cost of chronic diseases in
            each county or region in California! The project that led to the initial generation of this data was
            funded by the Chronic Disease Control Branch at the California Department of Public Health using
            estimates from the Center for Disease Control and Prevention’s (CDC) Chronic Disease Cost Calculator,
            the California Health Interview Survey (CHIS), and a number of other sources (see the FAQ page). The
            site was developed by UC Merced with funding from the California Healthcare Foundation.</p>
    </div>
    <div class="appContent">
       <div class = radio-buttons >
        <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">Search 1</mat-radio-button>
        <mat-radio-button value="2">Search 2</mat-radio-button>
      </mat-radio-group></div>
        <div class="appTitle">Economic Burden of Chronic Disease in Californias</div>
        
        <hr class="underLine appTitle">
        
        <div ng-controller="SearchController" class="ng-scope">
            <div style="width:70%; margin:0 auto">
            <div class="searchClass">Search</div>
        <div class="lableContent">
            <div class="mandatoryLabel">* = Mandatory Required Fields</div>
            <div class="clearLable" onclick="doReset()"><img src="../../assets/images/reload.png" width="auto" height="20px"> Clear selection</div>
        
</div>
            </div>
        </div>
    </div>


</article>