<!-- <div class="result-table">
    <div *ngIf="tabs.length > 0 && selectedSearch == 2" >
        <mat-tab-group  (selectedTabChange)="setActiveTab($event)" >
            <mat-tab *ngFor="let tab of tabs; let index = index " [ngClass]="{'active-tab': tab === activeTab}"
           [label]="tab" >
                <div *ngIf="tab !=='Total'">
                    <div *ngFor="let title of resultsData[tab] | keyvalue">
                        <h5 class="title-heading">{{title.key}}</h5>
                        <div *ngFor="let item of getValue(title.value) | keyvalue">
                            {{item.key}}
                            <div *ngFor="let innerItem of getValue(item.value) | keyvalue">
                                <span *ngIf="innerItem.key !== 'ageRange'">{{innerItem.key}}--{{innerItem.value}}</span>
                                <div *ngIf="innerItem.key == 'ageRange'">
                                    <table class="table">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th scope="col" *ngFor="let header of getTableHeadings(innerItem)">
                                                    {{header}}</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let cellValue of getTableRecords(innerItem)">
                                                <td>{{cellValue.age}}</td>
                                                <td>{{cellValue.numberOfPeopleWithProgram}}</td>
                                                <td>{{cellValue.numberOfPeopleWithOutProgram}}</td>
                                                <td>{{cellValue.investmentPerPerson}}</td>

                                                <td>{{cellValue.difference}}</td>
                                                <td>{{cellValue.costSavingPerYear}}</td>
                                                <td>{{cellValue.discountedCostSavingsPerYear}}</td>

                                                <td>{{cellValue.totalCost}}</td>
                                                <td>{{cellValue.utilityCost}}</td>


                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div *ngIf="tab =='Total'">
                    <div *ngFor="let title of resultsData[tab] | keyvalue">
                        <h5 class="table-title">{{title.key}}</h5>
                        <div *ngFor="let innerItem of getValue(title.value) | keyvalue">
                            <span *ngIf="innerItem.key !== 'ageRange'">{{innerItem.key}}--{{innerItem.value}}</span>
                            <div *ngIf="innerItem.key == 'ageRange'">
                                <table class="table">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col" *ngFor="let header of getTableHeadings(innerItem)">
                                                {{header}}</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let cellValue of getTableRecords(innerItem)">
                                            <td>{{cellValue.age}}</td>
                                            <td>{{cellValue.numberOfPeopleWithProgram}}</td>
                                            <td>{{cellValue.numberOfPeopleWithOutProgram}}</td>
                                            <td>{{cellValue.investmentPerPerson}}</td>

                                            <td>{{cellValue.difference}}</td>
                                            <td>{{cellValue.costSavingPerYear}}</td>
                                            <td>{{cellValue.discountedCostSavingsPerYear}}</td>

                                            <td>{{cellValue.totalCost}}</td>
                                            <td>{{cellValue.utilityCost}}</td>


                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>

    <div *ngIf="selectedSearch == 1">
        <mat-tab-group>
            <mat-tab *ngFor=" let tab of tabs; let index=index" [label]="tab">
                <div *ngIf="tab =='Totals'">
                    <table class="table table-bordered mt-3" id="userTable1">
                        <thead class="thead-dark">
                            <tr>
                                <th></th><th></th>
                                <th colspan="3" class="text-center">Per Case</th>
                                <th colspan="4" class="text-center">For County (s) </th>
                            </tr>
                            <tr>                              
                            </tr>
                            <tr>
                                <th scope="col" class="text-center"
                                    *ngFor="let header of getRoiGuidelinesHeading()">
                                    {{header}} 
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cellValue of getRoiGuidelinesData(); let i = index"
                            [ngClass]="{'even-row': i % 2 === 0}" class="text-uppercase"
                           >
                                <td>{{cellValue.Conditions}}</td>
                                <td>{{cellValue.County}}</td>
                                <td>{{cellValue.Cost_per_case}}</td>
                                <td>{{cellValue.Utility_loss_per_case}}</td>

                                <td>{{cellValue.Rates}}</td>
                                <td>{{cellValue.Cases}}</td>
                                <td>{{cellValue.Health_Care_Cost}}</td>

                                <td>{{cellValue.Utility_loss}}</td>
                                <td>{{cellValue.Total_cost_Healthcare_and_utility_loss}}</td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <div class="table-buttons">
                    <button type="submit" (click)="downloadCSV('Utility Cost Result')" class="csv-button point" *ngIf="selectedSearch == 1"><mat-icon svgIcon="csv-icon"></mat-icon>Download CSV</button>
                    <button type="submit" (click)="copyTable()" class="csv-button point left-margin" *ngIf="selectedSearch == 1"><mat-icon svgIcon="copy-icon"></mat-icon>Copy to Clipboard</button>
                </div>

                    <div *ngFor="let title of utilityCostData[tab] | keyvalue">

                        <div *ngIf="title.key == 'totals'">
                            <div *ngFor="let innerTitle of getTableRecords(title)">
                                <ul>
                                    <li class="title-key-heading">Total Costs = {{innerTitle.costs}}</li>
                                    <li class="title-key-heading">Total Cases = {{innerTitle.cases}}</li>
                                </ul>
                            </div>
                        </div>
                        <div *ngIf="title.key == 'regions'">
                            <div *ngFor="let innerTitle of getTableRecords(title)">
                                <div *ngFor="let inValue of innerTitle | keyvalue">
                                    <h5 class="title-key-heading">{{inValue.key}}</h5>
                                    <div *ngFor="let inValue of getTableRecords(inValue)">
                                        <ul>
                                            <li class="title-key-heading">Total Costs = {{inValue.costs}}</li >
                                            <li class="title-key-heading">Total Cases = {{inValue.cases}}</li>
                                        </ul>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div *ngIf="title.key == 'counties'">
                            <span class="title-heading">{{title.key}}</span>
                            <div *ngFor="let innerTitle of getTableRecords(title)">
                                <div *ngFor="let inValue of innerTitle | keyvalue">
                                    <h5 class="title-key-heading">{{inValue.key}}</h5>
                                    <div *ngFor="let inValue of getTableRecords(inValue) | keyvalue">
                                        <div *ngIf="inValue.key !== 'data'">
                                            <div *ngFor="let item of getTableRecords(inValue)">
                                                <ul>
                                                    <li class="title-key-heading" >Total Costs = {{item.costs}}</li>
                                                    <li class="title-key-heading">Total Cases = {{item.cases}}</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div *ngIf="inValue.key == 'data'">
                                            <table class="table">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th scope="col" class="text-uppercase"
                                                            *ngFor="let header of getTableHeadings(inValue)">
                                                            {{header}} </th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let cellValue of getTableRecords(inValue); let i = index"
                                                    [ngClass]="{'even-row': i % 2 === 0}" class="text-uppercase"
                                                   >
                                                        <td>{{cellValue.cases}}</td>
                                                        <td>{{cellValue.ethnicity}}</td>
                                                        <td>{{cellValue.groupName}}</td>
                                                        <td>{{cellValue.sex}}</td>

                                                        <td>{{cellValue.regionName}}</td>
                                                        <td>{{cellValue.diseaseName}}</td>
                                                        <td>{{cellValue.countyName}}</td>

                                                        <td>{{cellValue.costs}}</td>
                                                        <td>{{cellValue.prevalenceRate}}</td>
                                                        <td>{{cellValue.population}}</td>


                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="tab =='diseases'">
                    <mat-tab-group>
                        <mat-tab *ngFor=" let tab of allDiseasesName; let index=index" [label]="tab">
                            <div *ngFor="let item of getDiseaseValue(tab) | keyvalue">
                                <div *ngFor="let item of getTableRecords(item) | keyvalue"></div>
                                <span *ngIf="item.key == 'name'">
                                    <h5>{{item.key}}--{{item.value}}</h5>
                                </span>
                                <div *ngIf="item.key == 'totals'">
                                    <div *ngFor="let innerTitle of getTableRecords(item)">
                                        <ul>
                                            <li class="title-key-heading">Total Costs = {{innerTitle.costs}}</li>
                                            <li class="title-key-heading">Total Cases = {{innerTitle.cases}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div *ngIf="item.key == 'regions'">
                                    <div *ngFor="let innerTitle of getTableRecords(item)">
                                        <div *ngFor="let inValue of innerTitle | keyvalue">
                                            <h5 class="title-key-heading">{{inValue.key}}</h5>
                                            <div *ngFor="let inValue of getTableRecords(inValue)">
                                                <ul>
                                                    <li class="title-key-heading">Total Costs = {{inValue.costs}}</li>
                                                    <li class="title-key-heading">Total Cases = {{inValue.cases}}</li>
                                                </ul>
                                            </div>
                                        </div>
        
        
                                    </div>
                                </div>
                                <div *ngIf="item.key == 'counties'">
                                    <div *ngFor="let innerTitle of getTableRecords(item)">
                                        <div *ngFor="let inValue of innerTitle | keyvalue">
                                            <h5 class="title-key-heading">{{inValue.key}}</h5>
                                            <div *ngFor="let inValue of getTableRecords(inValue) | keyvalue">
                                                <div *ngIf="inValue.key !== 'data'">
                                                    <div *ngFor="let item of getTableRecords(inValue)">
                                                        <ul>
                                                            <li class="title-key-heading">Total Costs = {{item.costs}}</li>
                                                            <li class="title-key-heading">Total Cases = {{item.cases}}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div *ngIf="inValue.key == 'data'">
                                                    <table class="table">
                                                        <thead class="thead-dark">
                                                            <tr>
                                                                <th scope="col"
                                                                    *ngFor="let header of getTableHeadings(inValue)">
                                                                    {{header}}</th>
        
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let cellValue of getTableRecords(inValue);">
                                                           
                                                                <td>{{cellValue.cases}}</td>
                                                                <td>{{cellValue.ethnicity}}</td>
                                                                <td>{{cellValue.groupName}}</td>
                                                                <td>{{cellValue.sex}}</td>
        
                                                                <td>{{cellValue.regionName}}</td>
                                                                <td>{{cellValue.diseaseName}}</td>
                                                                <td>{{cellValue.countyName}}</td>
        
                                                                <td>{{cellValue.costs}}</td>
                                                                <td>{{cellValue.prevalenceRate}}</td>
                                                                <td>{{cellValue.population}}</td>
        
        
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
        
                                            </div>
                                        </div>
        
        
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </mat-tab></mat-tab-group>
    </div>
</div> -->