<article class="faq">
    <!-- <a href="/app" class="getStartedButton"><button class="btn btn-lg btn-primary">Click here to Begin</button></a>
<h1>Economic Burden of Chronic Disease in California</h1> -->
    <div class="FAQtitle">FAQs – Frequently Asked Questions</div>

    <section class="fontstyle">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span class="description-title" (click)="accordionClick()">How are the total cost estimates for each county calculated?</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <section style="margin-top:18px; padding-top:0;">
                    <p style="margin-bottom:18px"><strong>Answer</strong></p>
                    <p>The methodology involved the following steps:</p>
                    <ol>
                        <li>Use the CDC's Cost Calculator to develop estimates of the additional medical expenditure
                            (cost)
                            associated with chronic conditions for the State of California by condition, age group,
                            and gender;
                        </li>
                        <li>Develop a cost-per-case of each of the chronic conditions in each California county by
                            adjusting for
                            price differences in healthcare services between counties; </li>
                        <li>Estimate the prevalence of chronic disease within each California county by age, gender,
                            and
                            race-ethnicity. We used five age strata (0 to 17, 18 to 44, 45 to 64, 64 to 79, and 80
                            and older),
                            two gender categories (male and female), and five race-ethnicity categories (Hispanic,
                            Non-Hispanic
                            White, Non-Hispanic Black, Non-Hispanic Asian, and Non-Hispanic Other); </li>
                        <li>Combine estimates for the rates of chronic conditions with county level Census
                            population data (by
                            age strata, gender, and ethnicity) to form estimates to the number of cases of chronic
                            conditions in
                            that county; and</li>
                        <li>Estimate the total additional cost of each chronic condition in each county by
                            multiplying the
                            cost-per-case of each chronic condition in that county by the number of cases for each
                            of the six
                            chronic conditions in that county.</li>
                    </ol>
                    <p>The basic formula for estimating the cost per county is as follows:</p>
                    <p><em>Number of people with the chronic disease in the county<br>
                            <span style="text-decoration:underline">x Cost per case for that chronic
                                disease</span><br>
                            = Cost of a chronic disease per county </em></p>
                    <p>To estimate out the number of people in each county with the chronic condition, we multiplied
                        the
                        population by the prevalence rate:<br>
                        <em>Number of people in the county<br>
                            <span style="text-decoration:underline">x Prevalence rate that chronic
                                disease</span><br>
                            = Number of people with the chronic disease in the county</em>
                    </p><p>To illustrate, suppose there were 100,000 in the county, and the rate of diabetes was 1%. The
                        estimated
                        number of people with the chronic condition would be:</p>
                    <p><em>100,000<br>
                            <span style="text-decoration:underline">x .01</span><br>
                            = 1,000 cases</em></p>
                    <p>So if there are 1,000 people with diabetes in the county, and the cost for diabetes in a year
                        is
                        estimated at $6000, then the amount spent on diabetes in that county would be:</p>
                    <p><em>1000 cases<br>
                            <span style="text-decoration:underline">x $6000 cost per case</span><br>
                            = $6,000,000 cost for the county</em></p>
                </section>
            </mat-expansion-panel>
            
        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span class="description-title" (click)="accordionClick()">Where did the initial cost estimates come from?</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <section style="margin-top:18px; padding-top:0;">
                    <p style="margin-bottom:18px"><strong>Answer</strong></p>
                    <p>The initial cost estimates were developed by RTI International and was supported by the Centers for
                        Disease Control and Prevention (CDC) in collaboration with the Agency for Healthcare Research and
                        Quality (AHRQ), the National Association of Chronic Disease Directors (NACDD), and the National
                        Pharmaceutical Council (NPC). The CDC’s <a href="http://www.cdc.gov/dhdsp/programs/spha/cost_calculator.htm" target="_blank">Chronic Disease
                            Cost Calculator</a> performs four primary functions: </p>
                    <ol>
                        <li>
                            Estimate medical expenditures at the state level separately by insured population for the following
                            select chronic diseases:
                            <ol>
                                <li>Arthritis</li>
                                <li>Asthma</li>
                                <li>Cancer</li>
                                <li>Cardiovascular disease (CVD), including:
                                    <ol style="margin-top:18px; padding-top:0;">
                                        <li>Congestive heart failure (CHF)</li>
                                        <li>Coronary heart disease (CHD)</li>
                                        <li>Hypertension</li>
                                        <li>Stroke</li>
                                        <li>Other heart diseases</li>
                                    </ol>
                                </li>
                                <li>Depression</li>
                                <li>Diabetes</li>
                            </ol>
                        </li>
                        <li>Estimate absenteeism costs for the above chronic diseases at the state level.</li>
                        <li>Allow the user to generate estimates of the costs of selected chronic diseases using customized
                            inputs.</li>
                        <li>Project estimates of the medical costs of selected chronic diseases through 2020.</li>
                    </ol>
                    <p>The CDC Cost Calculator provides state-level estimates by gender for five age bands or strata: age 0-17,
                        (2) age 18-44, (3) age 45-64, (4) age 65-79, and (5) age 80 or older. The cost estimates from the CDC
                        Cost Calculator include all additional or attributable medical expenditures for the entire state
                        population (all payers and the uninsured) and includes estimates of absenteeism. The estimates were
                        derived from the 2004 through 2008 Medical Expenditure Panel Survey (MEPS) Consolidated Data Files, a
                        nationally representative survey of the civilian non-institutionalized population that provides data on
                        annual medical expenditures, sources of payment, insurance coverage, and days missed from work due to
                        illness or injury for each participant. Diseases were defined using ICD-9 codes based on self-reported
                        diseases that were transcribed by professional coders and reported in the MEPS Medical Conditions files
                        for years 2004 through 2008 (see Table 1). The combined five-year MEPS sample included 153,012 persons
                        of all ages living in the U.S. All expenditure data were inflated to 2010 dollars using the gross
                        domestic product general price index.</p>
                    <p>To account for multiple chronic conditions and avoid double-counting (i.e., overlap of disease costs) of
                        the associated medical costs, the CDC Cost Calculator employs estimates from a two stage statistical
                        analysis that generates estimates of cost of multiple conditions. The resulting estimates of the costs
                        of arthritis, asthma, cancer, CHF, CHD, stroke, other heart diseases and depression are thus independent
                        of the other condition, although the cost estimates for hypertension and diabetes do include the costs
                        of complications such as CHD, CHF and stroke. The costs of hypertension and diabetes are therefore not
                        mutually exclusive of the costs of other reported diseases. We report the estimated cost of CHF, CHD,
                        stroke, and hypertension separately, but report only the combined cost of cardiovascular disease that
                        includes these four conditions (we do not estimate costs for other heart diseases). </p>
                    <p>To account for differences between counties in the cost per case due to variations in the price of
                        healthcare services across the state, prices were adjusted using the <a href="http://www.cms.gov/Medicare/Medicare-Fee-for-Service-Payment/PhysicianFeeSched/downloads/GPCI_Report.pdf" target="_blank">Geographic Adjustment Factor (GAF)</a> reported by the Institute of Medicine (IOM)
                        and based on the Center for Medicare and Medicaid Studies (CMS) Medicare geographic practice cost index
                        (GPCI) for California. The GAF takes account of geographic differences due to three factors: cost of
                        physician services, practice expenses due to location (e.g., rent and cost of operating a facility), and
                        geographic differences in malpractice or professional indemnity. The GAF, which divides California into
                        9 distinct regions for which GPCIs are calculated, was applied to the cost estimate for each condition,
                        age, and gender for each region of California. The cost adjusters, ranging from 1.0323 to 1.1817, were
                        applied to the cost estimates from the CDC Cost Calculator.</p>
                </section>
                </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span class="description-title" (click)="accordionClick()">Where did the prevalence rates come from?</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
              <section style="margin-top:18px; padding-top:0;">
            <p style="margin-bottom:18px"><strong>Answer</strong></p>
            <p>Estimates of the prevalence of the six chronic conditions of interest for California were derived from a
                variety of data sources, including AskCHIS online query system for the <a href="http://ask.chis.ucla.edu" target="_blank">California Health Interview Survey</a>, <a href="https://seer.cancer.gov/" target="_blank">SEER-Medicare data</a>, and <a href="http://www.diabetes.org/diabetes-basics/statistics/" target="_blank">American Diabetes
                    Association</a>.</p>
            <p>State-level prevalence rates for (a) arthritis, (b) asthma, (c) cardiovascular disease, and (d) diabetes
                were obtained from the 2011-2012 California Health Interview Survey (CHIS). The CHIS is a representative
                population-based, random-dial, health survey of non-institutionalized individuals in California which is
                used to estimate prevalence rates for various health conditions at the state-level, and for large and
                medium size counties at the county level (smaller counties are grouped together). State, regional, and
                county-level estimations of various diseases and health related behaviors surveyed in the CHIS can be
                obtained from the online webtool <a href="http://ask.chis.ucla.edu" target="_blank">AskCHIS</a>. Because
                the 2011-2012 CHIS sample size was too small to obtain county-level prevalence rates for each age strata
                by race-ethnicity and gender, the analysis was conducted with state-level prevalence rates (rather than
                county-level rates).</p>
            <p>Because the CHIS does not ask children and teens certain health questions, the prevalence for arthritis,
                cardiovascular diseases, and diabetes for individuals ages 0-17 was not available from the AskCHIS query
                system. We obtained diabetes prevalence rates for individuals under age 20 from the American Diabetes
                Association 2011 National Diabetes Fact Sheet. We could not obtain prevalence rates for arthritis or CVD
                for children or teens so we set the prevalence at 0 in our estimations.</p>
            <p>Cancer prevalence rates were obtained from the National Cancer Institute Surveillance Epidemiology and
                End Result (SEER) data. Cancer prevalence for each age strata by race-ethnicity and gender were
                calculated for each of the 58 California counties using the program Seer Stat and 2009 and 2010 SEER.
                The county-level prevalence rates were estimated for the following strata in order to match the age
                groups used by SEER: 0-19, 20-44, 45-64, 65-79, and 80 or older. Due to small sample sizes, no estimates
                were available for small counties, or small demographic subgroups within counties. Small counties were
                therefore combined and average rates applied to each small county.</p>
            </section>
                </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span class="description-title" (click)="accordionClick()">Where did the initial cost estimates come from?</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <section style="margin-top:18px; padding-top:0;">
                    <p style="margin-bottom:18px"><strong>Answer</strong></p>
                    <p>Population per county was calculated from the 2010 Census Summary File 1, Table PCT12 provided by the <a href="http://www.dof.ca.gov/research/demographic/state_census_data_center/census_2010/#SF1" target="_blank">California State Data Center</a>. This table presents the population of California
                    and each Californian county race, gender, age, and Hispanic ethnicity. We used this table to calculate
                    the population for each of the age, gender, and race-ethnicity condition for each of the 58 counties in
                    California.</p>
                    </section>
                </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span class="description-title" (click)="accordionClick()">What are the 'regions'?</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <section style="margin-top:18px; padding-top:0;">
                    <p style="margin-bottom:18px"><strong>Answer</strong></p>
                    <p>The regions were selected following the <a href="http://healthpolicy.ucla.edu/Pages/home.aspx" target="_blank">AskCHIS</a> classifications. The regions include:</p>
                    <table class="faqRegionsTable stripeTable">
                    <tbody><tr>
                        <th width="16%" valign="bottom">Northern / Sierra Counties</th>
                        <th width="16%" valign="bottom">Bay Area Counties</th>
                        <th width="16%" valign="bottom">Sacramento Area Counties</th>
                        <th width="16%" valign="bottom">San Joaquin Valley</th>
                        <th width="16%" valign="bottom">Central Coast Counties</th>
                        <th width="16%" valign="bottom">Other Southern California Counties</th>
                    </tr>
                    <tr>
                        <td>Butte</td>
                        <td>Santa Clara</td>
                        <td>Sacramento</td>
                        <td>Fresno</td>
                        <td>Ventura</td>
                        <td>Orange</td>
                    </tr>
                    <tr>
                        <td>Shasta</td>
                        <td>Alameda</td>
                        <td>Placer</td>
                        <td>Kern</td>
                        <td>Santa Barbara</td>
                        <td>San Diego</td>
                    </tr>
                    <tr>
                        <td>Humboldt</td>
                        <td>Contra Costa</td>
                        <td>Yolo</td>
                        <td>San Joaquin</td>
                        <td>Santa Cruz</td>
                        <td>San Bernardino</td>
                    </tr>
                    <tr>
                        <td>Del Norte</td>
                        <td>San Francisco</td>
                        <td>El Dorado</td>
                        <td>Stanislaus</td>
                        <td>San Luis Obispo</td>
                        <td>Riverside</td>
                    </tr>
                    <tr>
                        <td>Siskiyou-</td>
                        <td>San Mateo</td>
                        <td></td>
                        <td>Tulare</td>
                        <td>Monterey</td>
                        <td>Imperial</td>
                    </tr>
                    <tr>
                        <td>Lassen</td>
                        <td>Sonoma</td>
                        <td></td>
                        <td>Merced</td>
                        <td>San Benito</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Trinity</td>
                        <td>Solano</td>
                        <td></td>
                        <td>Kings</td>
                        <td>Los Angeles</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Modoc</td>
                        <td>Marin</td>
                        <td></td>
                        <td>Madera</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Mendocino</td>
                        <td>Napa</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Lake</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Tehama</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Glenn</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Colusa</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Sutter</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Yuba</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Nevada</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Plumas</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Sierra</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Tuolumne</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Calaveras</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Amador</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Inyo</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Mariposa</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Mono</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Alpine</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody></table>
                    </section>
                </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span class="description-title" (click)="accordionClick()">How do I calculate the total cases of chronic conditions in a county?</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <section style="margin-top:18px; padding-top:0;">
                    <p style="margin-bottom:18px"><strong>Answer</strong></p>
                    <p>Because people can have more than one chronic condition, the total number of people with at least one
                        chronic condition cannot be estimated by just adding up the number of cases for each chronic condition.
                        For instance, the results here suggest that there 28 million cases of chronic diseases in California,
                        but previous studies have placed the number of people with a chronic disease at 14 million (39% of the
                        population). That implies that people have an average of nearly 2 chronic conditions.</p>
                    </section>
                </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span class="description-title" (click)="accordionClick()">Can I view all the raw data?</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <section style="margin-top:18px; padding-top:0;">
                    <p style="margin-bottom:18px"><strong>Answer</strong></p>
                    <p>The raw data is not available at this time, but it will soon be available on the <a href="https://chhs.data.ca.gov/" target="_blank">California Health and Human Services Open Data
                        Portal</a></p>
                    </section>
                </mat-expansion-panel>
        </mat-accordion>
    </section>
   
</article>