@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Bebas+Neue:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

.bodyLeftMargin {
    width: 80%;
    margin: 0 auto;
}

.infoBox {
    margin-top: 10px;
    background: #FFBF3C40 0% 0% no-repeat padding-box !important;
    border: 1px solid #FFBF3C !important;
    opacity: 1 !important;
    padding: 25px !important;
    margin-bottom: 20px;
}

.mat-radio-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mat-radio-button {
    margin-right: 10px;
}

.container-chronic {
    padding: 0;
}

.formContainer {
    justify-content: center;
}

.age-range {
    margin-left: 10px !important;
}


@media screen and (max-width: 1100px) {
    .bodyLeftMargin {
        width: 100%;
        padding: 0 10px;
    }

    .container {
        width: 100% !important;
    }

    .vl {
        display: none;
    }

    .horizontalRow {
        display: none !important;
    }

    .small-input {
        width: 100% !important;
    }

    .label-font {
        height: auto !important;
        vertical-align: text-top !important;
        display: flex;
        align-self: flex-start;
    }

    .mobile-div {
        height: fit-content !important;
    }

}
@media screen and (max-width: 768px) {

    .age-range {
        margin-top: 10px;
    }

}


.appTitle {
    text-align: left;
    font: normal normal 32px / 40px Bebas Neue;
    letter-spacing: 0px;
    color: #002856;
    opacity: 1;
    text-transform: uppercase;
    margin: 0 auto;
}


.centre_div {
    text-align: center;
}

.infoTxt {
    text-align: left;
    font: normal normal normal 14px/20px Open Sans;
    letter-spacing: 0px;
    opacity: 1;
}
.searchClass {
    text-align: left;
    font: normal normal 42px / 60px Bebas Neue;
    letter-spacing: 0px;
    color: #002856;
    opacity: 1;
    text-transform: uppercase;
}


.underLine {
    border: 1px solid #FFBF3C;
    opacity: 1;
}
.lableContent{
    display: flex;
    justify-content: space-between;
    margin-bottom:15px
}

img{
    vertical-align: middle;
}

.mandatoryLabel {
    text-align: center;
    font: normal normal bold 18px / 24px Open Sans;
    letter-spacing: 0px;
    color: #5B5B5B;
    text-transform: uppercase;
    opacity: 1;
}

.clearLable {
    text-align: left;
    letter-spacing: 0px;
    color: #002856;
    text-transform: uppercase;
    opacity: 1;
    border: none;
    background-color: transparent;
}    
.radio-buttons{
    text-align: center;
    margin-bottom: 10px;
}

.label-font {
    font-weight: 600;
    color: #002856;
    text-transform: uppercase;
    /* white-space: nowrap; */
    margin-top:10px;
    height: 4px;
    font-size: small;
}

::ng-deep .mat-form-field {
    opacity: 1;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 5px;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

::ng-deep .mat-form-field-flex{
    box-shadow: inset 0px 3px 6px #00000029;
    background: #EFEFEF 0% 0% no-repeat padding-box;
    border-radius: 10px;
}

::ng-deep .mat-checkbox-frame{
    border-radius: 5px !important;
}

::ng-deep .mat-checkbox-inner-container{
    background-color: #EFEFEF;
}


/* .mat-form-field-appearance-fill .mat-form-field-flex {

} */

::ng-deep .mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-flex {
    background-color: #EFEFEF;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 11px !important;
}

.gender_check_box {
    display: block;
    margin-top: 32px;
}
.gender_1_padding{
    margin-left: -6%;
}

.gender_2_padding{
    margin-left: 14px;
}

.age_box{
    width: 120px;
}

.age-fill{
    margin-left: 120px;
}

.program-detail-heading {
    font-size: 26px;
    font-weight: 500;
    text-align: left;
    color: #002856;
    padding-top: 10px;
    letter-spacing: 0px;
    font: normal normal 42px / 60px Bebas Neue;
}

.program-detail-back {
    background-color: #EFEFEF;
    border-radius: 12px;
    width: 922px;
}

.label-font-primary {   
    font-weight: 600;
    letter-spacing: 0px;
    color: #002856;
    text-transform: uppercase;
    display: flex;
}

.label-font-two {   
    font-weight: 600;
    color: #002856;
    text-transform: uppercase;
    display: flex;
}

.search-btn-one{
    background: #FFBF3C 0% 0% no-repeat padding-box;
    border-radius: 10px;
    width: 150px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    color: #002856;
    font: normal normal bold 20px / 27px Open Sans;
    text-transform: uppercase;
}

.program-form-one{
    display: inline-block;
    /* width: 47%; */
    /* margin-left: 4px; */
}

.program-form-two{
    /* margin-left: 39px; */
    display: inline-block;
    /* width: 39%; */
}

.program-form-three{
    /* margin-left: 56%; */
    display: inline-block;
}

.gender-check {
    display: contents;
}

.vl {
    border-left: 1px solid grey;
    height: 383px;
    position: absolute;
    left: 50%;
    top: 175%;
  }

  .adaptive{
    width: 50%;
  }

  .adaptive-div{
    margin-left: 26px;
  }
  .adaptive-div-result{
    margin-left: -9px;
  }

  .discount-margin{
    margin-left: 66px;
  }

  .duration-margin{
    margin-left: 79px;
  }

  .proram-costt{
    margin-left: 21px;
  }

  .size-margin{
    margin-left: -6px;
  }

  .initla-margin{
    margin-left: 52px;
  }

  .help-text{
    white-space: nowrap;
    margin-top: 8px;
    font-size: smaller;
    padding-left: 8px;
  }
  .calculate-button{
    background-color: #005487;
  }

  .label-ender{
    margin-left: 13px;
  }

  .grid{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .big-input{
    width: 40%;
  }
  .small-input{
    width: 20%;
  }
.text-for-program{
    font-size: small;
}
.main-container{
    padding: 20px;
}
.program{
    background-color: #EFEFEF;
    border-radius: 12px;
}
.calc-button{
    background: #FFBF3C 0% 0% no-repeat padding-box;
    border-radius: 10px;
    width: 150px;
    height: 48px;
    margin-top: 14px;
    margin-bottom: 10px;
    color: #002856;
    font: normal normal bold 20px / 27px Open Sans;
    text-transform: uppercase;
    margin-right: 5px;
}

.table-title{
    background-color: #002856 !important;
    color: white    
}
.selected {
    background-color: blue; 
    color: white;
  }
.title-heading{
    color: #002856;
    font: normal normal 42px / 60px Bebas Neue;
}
.title-key-heading{
    color: #002856;
    font: normal normal 30px / 50px Bebas Neue;
}
::ng-deep .mat-tab-label{
    text-transform: uppercase;
    background-color: grey;
    border-radius: 10px 10px 0px 0px ;

}
::ng-deep .mat-tab-label-active {
    background-color: #002856 ;
    color: white ;
    border-radius: 10px 10px 0px 0px;
    opacity: 1;
  }

.result-table{
    margin: 0 16%;
}
.even-row {
    background-color: #EFEFEF; /* Grey background color for even rows */
  }
  tr:nth-child(even) {
    background-color: red/* Grey background color for even rows */
  }
  .table tbody tr:nth-of-type(even) td {
    background-color: #EFEFEF;
  }
  .dialog {
      justify-content: start;
      align-items: end;
      display: flex;
  }

  .chip-content {
      align-items: center;
      justify-content: space-between;
      display: flex;
      color: #002856;
      margin-left: 5px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 28px;
      opacity: 1;
      padding: 5px;
      font: normal normal 600 14px/24px Open Sans;
      margin-bottom: 5px;
  }
  .agebox{
    margin-top: 24px;
}
.small-text{
    margin-left: -85px;
    font: normal normal normal 13px / 24px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    margin-bottom: -7px;
}
.vl {
    border-left: 1px solid grey;
    height: 383px;
    left: 50%;
    top: 175%;
    position: static;
  }

  .calculate-button{
    display: flex;
    justify-content: end;
    border-radius: 0px 0px 12px 12px;
    width: 100%;
    background: #005487 0% 0% no-repeat padding-box;
  }
  .small-input{
    width: 60%;
  }
  .calc-button{
    background: #FFBF3C 0% 0% no-repeat padding-box;
    border-radius: 10px;
    margin-top: 14px;
    margin-bottom: 10px;
    color: #002856;
    font: normal normal bold 18px / 27px Open Sans !important;
    text-transform: uppercase;
    margin-right: 5px;
    letter-spacing: 0px;
}
.margin-row{
    margin-bottom: 35px;
  }



.label-font {
    font-weight: 600;
    color: #002856;
    text-transform: uppercase;
    height: 4px;
    font-size: small;
}
.arrow{
    align-items: end;
}
.outer-container{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: auto;
    height: auto;
    padding: 10px;
    background-color: #EFEFEF;
    min-height: 50px;
}
.county-content{
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.table-bordered td,
.table-bordered th {
    border: 1px solid #000;
    vertical-align: top;
}

.csv-button {
    border-radius: 10px;
    width: 195px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E5E5;
    color:#002856;
    font: normal normal bold 15px / 27px Open Sans;
    text-transform: uppercase;
    font-weight: 600;
}

.table-buttons {
    display: flex;
    justify-content: center;
}

.left-margin {
    margin-left: 10px;
}
/* For table */
table {
    width: 100%;
    border-collapse: collapse;
  }
  
  /* For table headers */
  th {
 
  
    padding: 8px; /* Padding */
    text-align: left; /* Align text to the left */
  }
  
  /* For table cells */
  td {
    border: 1px solid #ddd; /* Gray border */
    padding: 8px; /* Padding */
    text-align: left; /* Align text to the left */
  }
  
  /* Alternate row color */
  tr:nth-child(even) {
    background-color: #f2f2f2; /* Light gray background for even rows */
  }
  
  .color-uc{
    background-color: #002856;
    color: white;
    font-weight: 400;
    border: none;
  }
  .color-blue{
    background-color: rgb(0, 122, 136);
    color: white;
    border: none;
    font-weight: 400;

  }
  .color-grey{
    background-color: grey;
    color: white;
    border: none;
    font-weight: 400;

  }
  .color-yellow{
    background-color: rgb(253, 251, 206);
    color: #002856;
  }
  .blue-text{
    color: #002856;
  }