<article class="bodyLeftMargin" data-close-all-search-dialogs="">
    <div class="infoBox">
        <i class="fa fa-futboll-0"></i>
        <p class="infoTxt">You have arrived at a website that allows you to estimate the cost of chronic diseases in
            each county or region in California! The project that led to the initial generation of this data was
            funded by the Chronic Disease Control Branch at the California Department of Public Health using
            estimates from the Center for Disease Control and Prevention’s (CDC) Chronic Disease Cost Calculator,
            the California Health Interview Survey (CHIS), and a number of other sources (see the FAQ page). The
            site was developed by UC Merced with funding from the California Healthcare Foundation.</p>
    </div>
    <div class="appContent">
        <div class=radio-buttons>
            <mat-radio-group class="example-radio-group" [(ngModel)]="selectedSearch" (ngModelChange)="resetFields()">
                <mat-radio-button class="example-radio-button point" *ngFor="let search of searchOptions"
                    [value]="search.key">
                    {{search.value}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="appTitle">Economic Burden of Chronic Disease in Californias</div>

        <hr class="underLine appTitle">

        <div class="ng-scope">
            <div>
                <div class="searchClass">Search</div>
                <div class="lableContent">
                    <div class="mandatoryLabel">* = Mandatory Required Fields</div>
                    <button class="clearLable point" (click)="doReset()">
                        <img src="../../assets/images/reload.png" width="auto" height="20px"> Clear selection
                    </button>
                </div>
            </div>
        </div>
        <div class="container-chronic">
            <div class="form-group centre_div">
                <div class="col-md-12 mb-4">
                    <label class="label-font-primary mb-1">*ETHNICITY</label>
                    <div class="outer-container" (click)="openDialog('ethnicity')">
                        <div class="dialog">
                            <span class="badge badge-pill badge-primary" class="chip-content"
                                *ngFor="let ethnicity of selectedEthnicity">{{ethnicity.name}} <mat-icon
                                    style="cursor: pointer;"
                                    (click)="removeItem($event,ethnicity,'ETHNICITY')">cancel</mat-icon></span>
                        </div>
                        <div class="right">
                            <div class="arrow"><button class="clearLable point"><img
                                        src="../../../assets/images/selectArrows.png" alt="arrow"></button></div>
                        </div>
                    </div>
                </div>
                <div *ngIf="ethnicityMsg && selectedEthnicity.length == 0" class="error-msg">{{ethnicityMsg}}</div> 
                <div class="col-md-12 mb-4" *ngIf="selectedSearch == 1">
                    <label class="label-font-primary mb-1">*Region</label>
                    <div class="outer-container" (click)="openDialog('region')">
                        <div class="dialog">
                            <span class="badge badge-pill badge-primary" class="chip-content"
                                *ngFor="let region of selectedRegions">{{region.name}} <mat-icon
                                    style="cursor: pointer;"
                                    (click)="removeItem($event,region,'REGIONS')">cancel</mat-icon></span>
                        </div>
                        <div class="arrow"><button class="clearLable point"><img
                                    src="../../../assets/images/selectArrows.png" alt="arrow"></button></div>

                    </div>
                   
                </div>
                <div *ngIf="regionMsg && selectedRegions.length == 0 && selectedSearch == 1" class="error-msg">{{regionMsg}}</div> 
                <div class="col-md-12 mb-4">
                    <label class="label-font-primary mb-1">*counties</label>
                    <div class="outer-container" (click)="openDialog('counties')">
                        <div class="dialog" style="flex-wrap: wrap;">
                            <span class="badge badge-pill badge-primary" class="chip-content"
                                *ngFor="let county of selectedCounties">{{county.name}} <mat-icon
                                    style="cursor: pointer;"
                                    (click)="removeItem($event,county,'COUNTIES')">cancel</mat-icon></span>
                        </div>
                        <div class="arrow"><button class="clearLable point"><img
                                    src="../../../assets/images/selectArrows.png" alt="arrow"></button></div>

                    </div>
                   
                </div>
                <div *ngIf="countiesMsg && selectedCounties.length == 0" class="error-msg">{{countiesMsg}}</div> 
                <div class="col-md-12 mb-4">
                    <label class="label-font-primary mb-1">*diseases</label>
                    <div class="outer-container" (click)="openDialog('disease')">
                        <div class="dialog">
                            <span class="badge badge-pill badge-primary " class="chip-content"
                                *ngFor="let disease of selectedDiseases">{{disease.name}} <mat-icon
                                    style="cursor: pointer;"
                                    (click)="removeItem($event,disease,'DISEASES')">cancel</mat-icon></span>
                        </div>
                        <div class="arrow"><button class="clearLable point"><img
                                    src="../../../assets/images/selectArrows.png" alt="arrow"></button></div>
                    </div>
                    
                </div>
                <div *ngIf="diseaseMsg && selectedDiseases.length == 0" class="error-msg">{{diseaseMsg}}</div> 
                <div class="row col-md-12 mb-2">
                    <div class="col-md-5 gender-check">
                        <label class="label-font-primary mb-1 label-ender">*Gender</label>
                        <mat-checkbox class="gender_check_box gender_1_padding"
                            [(ngModel)]="isMaleChecked">Male</mat-checkbox>
                        <mat-checkbox class="gender_check_box gender_2_padding"
                            [(ngModel)]="isFemaleChecked">Female</mat-checkbox>

                            
                    </div>
                    <div class="col-md-7 row ml-2 age-range">
                        <div class="col-sm-3">
                            <label class="label-font-two mb-1">*Age Range</label>
                            <div class="small-text">Start</div>
                            <mat-form-field class="age_box" appearance="fill">
                                <input matInput type="number" [(ngModel)]="startAge" min=minAge max=maxAge pattern="0-9"  (input)="onStartAgeChange()">
                            </mat-form-field>
                        </div>
                        <hr class="horizontalRow" style="width: 110px;margin-top: 70px;">
                        <div class="col-sm-3 agebox">
                            <div class="small-text">End</div>
                            <mat-form-field appearance="fill" class="age_box">
                                <input matInput type="number" [(ngModel)]="endAge" min=minAge max=maxAge pattern="0-9"
                                    (input)="onEndAgeChange()">
                            </mat-form-field>
                        </div>
                        </div>
                 <div class="d-flex">
                    <div *ngIf="genderMsg && !isMaleChecked && !isFemaleChecked" class="col-lg-4 error-msg">{{genderMsg}}</div> 
                    <div *ngIf="!genderMsg || isMaleChecked || isFemaleChecked" class="col-lg-4 error-msg"></div> 
                    <div *ngIf="ageMsg" class="error-msg ml-5">{{ageMsg}}</div> 
                    <div *ngIf="ageLimitMsg && !ageMsg" class="error-msg ml-5">{{ageLimitMsg}}</div>  
                 </div>
                       
                    
                </div>
                <button type="submit" (click)="utilityCost()" class="search-btn-one point"
                    *ngIf="selectedSearch == 1">Search</button>
                <h4 class="program-detail-heading" *ngIf="selectedSearch == 2">Program Details</h4>
                <div class="container-chronic program" *ngIf="selectedSearch == 2">
                    <!-- <div class="vl"></div> -->
                    <form [formGroup]="roiForm">
                        <div class="main-container">
                            <div class="container-chronic">
                                <!-- <div class="row mb-5 align-items-start"> -->
                                <div class="row formContainer">
                                    <div class="col-lg-5 col-md-5 col-sm-5">
                                        <div class="row margin-row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 mobile-div">
                                                <label class="label-font mb-1 text-end">Size of Target group</label>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <input type="text" placeholder="e.g: 1000" class="form-control"
                                                    formControlName="sizeOfTargetGroup" appAppNumber>
                                            </div>
                                        </div>
                                        <div class="row margin-row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 mobile-div">
                                               <label class="label-font mb-1 text-end text-margin">Anticipated
                                                    effectiveness of program</label>

                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 d-flex">
                                                <input type="text" placeholder="e.g: 20"
                                                    class="form-control small-input prefix-input"
                                                    formControlName="anticipatedEffectivenessOfProgram" appAppNumber>
                                                 <span class="prefix-txt">% Reduction</span>   
                                            </div>
                                        </div>
                                        <div class="row margin-row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 mobile-div">
                                                <label class="label-font mb-1 text-end">Expected timeframes for
                                                    results</label>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 d-flex">
                                                <input type="text" placeholder="e.g: 10"
                                                    class="form-control small-input prefix-input"
                                                    formControlName="expectedTimeframesForResults" appAppNumber>
                                                    <span class="prefix-txt">Years</span>   
                                            </div>
                                        </div>
                                        <div class="row margin-row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 mobile-div">
                                                <label class="label-font mb-1 text-end">Expected timeframes for
                                                    ROI</label>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 d-flex">
                                                <input type="text" placeholder="e.g: 10"
                                                    class="form-control small-input prefix-input"
                                                    formControlName="expectedTimeframesForROI" appAppNumber>
                                                    <span class="prefix-txt">Years</span>   
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-1">
                                        <div class="vl"></div>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5">
                                        <div class="row margin-row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 mobile-div">
                                                <label class="label-font mb-1 text-end">Initial program costs</label>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                    <div class="input-with-icon">
                                                        <span class="dollar-sign">$</span>
                                                        <input type="text" placeholder="e.g: 50000" class="form-control costs" formControlName="initialProgramCosts" appAppNumber>
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="row margin-row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 mobile-div">
                                                <label class="label-font mb-1 text-end">Ongoing program costs</label>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                    <div class="input-with-icon">
                                                        <span class="dollar-sign">$</span>
                                                        <input type="text" placeholder="e.g: 50000" class="form-control costs" formControlName="ongoingProgramCosts" appAppNumber>
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="row margin-row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 mobile-div ">
                                                <label class="label-font mb-1 text-end ">Discount rate</label>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 d-flex prefix-input-discount discount-select-div">
                                                <!-- <input type="text" placeholder="e.g: 20"
                                                    class="form-control small-input prefix-input" formControlName="discountRate" appAppNumber> -->
                                                    <mat-select formControlName="discountRate" class="discount-select">
                                                        <mat-option [value]="0">0</mat-option>
                                                        <mat-option [value]="3">3</mat-option>
                                                      </mat-select>
                                                    <span class="prefix-txt">%</span>   
                                            </div>
                                        </div>
                                        <div class="row margin-row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 mobile-div">
                                                <label class="label-font mb-1">Program duration</label>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 d-flex">
                                                <input type="text" placeholder="e.g: 10"
                                                    class="form-control small-input prefix-input" formControlName="programDuration" appAppNumber>
                                                    <span class="prefix-txt">Years</span>   
                                            </div>
                                        </div>
                                        <div class="row margin-row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 mobile-div">
                                                <label class="label-font mb-1">Value of QALY</label>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <div class="input-with-icon">
                                                    <span class="dollar-sign">$</span>
                                                    <input type="text" placeholder="e.g: 50000" class="form-control costs" formControlName="valueOfQALY" appAppNumber>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <!-- </div> -->
                        <div class="calculate-button">
                            <button type="submit" class="btn calc-button point"
                                (click)="roiCalculator()">Calculate</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div *ngIf="showRoi && !showCost" class="mt-5 utility-cost ">
        <div class="searchClass text-center">{{getHeading(currentIndex)}}</div>
        <app-utility-cost [roiData]="consolidateROIDATA[currentIndex]"
            [costData]="getCostData(currentIndex)"></app-utility-cost>
        <button (click)="previousData()" [disabled]="currentIndex === 0">Previous</button>
        <button (click)="nextData()" [disabled]="currentIndex === consolidateROIDATA.length - 1">Next</button>

        <div class="table-buttons">
            <button type="submit" (click)="exportToExcel()" class="csv-button point mt-1"><mat-icon
                    svgIcon="csv-icon"></mat-icon>Download CSV</button>
        </div>
    </div>
    <div *ngIf="showCost && !showRoi" class="mt-5 utility-cost">
        <div>
            <app-utility-cost-result [costs]="totalCostResponse"></app-utility-cost-result>
        </div>
    </div>
    <app-no-data-found *ngIf="showError" [msg]="showError"></app-no-data-found>
</article>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>