<h4 class="clearselect point" *ngIf="!isSelectionRadio(data)" (click)="clearAll()">cancel all
</h4>
<h4 class="clearselect point" *ngIf="!isSelectionRadio(data)" (click)="slectAll()">
    select all | &nbsp;
</h4>
<mat-dialog-content>
    <h4 class="box_title">
        {{message}}
    </h4>

</mat-dialog-content>
<div class="row max-row">
    <div class="col-sm-12 col-md-6 col-lg-6" *ngFor="let data of dataList">
        <div>
            <mat-checkbox *ngIf="!isSelectionRadio(data)" class="font-style-check" [checked]="data.checked"
                (change)="selectData($event, data)">
            </mat-checkbox>
            <mat-radio-button *ngIf="isSelectionRadio(data)" [value]="data" [checked]="data.checked" (change)="selectOption(data)">
            </mat-radio-button>
            {{ data.name }}
        </div>
    </div>
</div>
<div class="button-actions">
    <button color="primary" class="ok_button point" (click)="onConfirmClick()"
        tabindex="1">{{confirmButtonText}}</button>
    <button class="cancle_btn point" (click)="onCancelClick()" tabindex="-1">{{cancelButtonText}}</button>
</div>
