<h4 class="clearselect">cancel all
</h4>
<h4 class="clearselect">
    select all | &nbsp;
</h4>
<mat-dialog-content>
        <h4 class="box_title">
            {{message}}
        </h4>
       
</mat-dialog-content>
<div class="row max-row" >
            <div class="col-6" *ngFor="let data of dataList">
                <mat-checkbox class="font-style-check">{{data.name}}</mat-checkbox>
            <!-- <mat-radio-group class="example-radio-group"> -->
                <!-- <mat-radio-button class="example-radio-button" *ngFor="let data of dataList" -->
                    <!-- [value]="data"> -->
                    <!-- {{data.diseaseName}} -->
                <!-- </mat-radio-button> -->
            <!-- </mat-radio-group> -->
    </div>
</div>
<mat-dialog-actions align="right">
	<button mat-raised-button color="primary" class="ok_button" (click)="onConfirmClick()" tabindex="1">{{confirmButtonText}}</button>
	<button mat-raised-button mat-dialog-close class="cancle_btn" tabindex="-1">{{cancelButtonText}}</button>
</mat-dialog-actions>